{% extends 'base.html' %}


{% block content %}


{% if not created %}

<div class="container-fluid">
    <!-- TODO: enctype is important for uploading image filed!!!-->
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Enter Title">
            <small class="form-text text-muted">Please Enter your your desired title</small>
        </div>
        <div class="form-group">
            <label>content</label>
            <textarea class="form-control" name="content" rows="9"></textarea>
        </div>
        <label class="form-label" for="customFile">Default image input</label>
        <input type="file" name="image" class="form-control" id="customFile" />
        <div class="form-group">
            <label>Approximate time to read</label>
            <input type="text" class="form-control" name="time_to_read" placeholder="Enter Title">
            <small class="form-text text-muted">Please Enter Approximate time by minute + "mins" </small>
        </div>
        <!-- <div class="form-check"> -->
        <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
        <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
        <!-- </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% else %}

<div class="container-fluid text-center">
    <h3 class="py-4">
        your Article was created!
    </h3>
    <button type="submit" class="btn btn-warning py-4"><a href="{% url 'blog_url' %}">Go back to the Blog!!</a></button>
</div>

{% endif %}


{% endblock content%}