{% extends 'base.html' %}

{% block course %}

<div class="container">


    <div class="container py-5">
        <div class="row">
            <div class="col-6">
                <img src="{{ course.course_image.url }}" alt="">
            </div>
            <div class="col-6">
                <h4>Learning {{course.course_name}} with <code>  CodeBezanim.ir</code></h4>
                <div class="lead">
                    Concerned about which operating system to work with? Don't worry! We cover how to code python in
                    Mac, Linux, and Windows! Even better, we specifically cover Linux in details to help you get started
                    like a pro

                </div>
            </div>
        </div>
        <br>
        <ul class="nav justify-content-center py-4">
            <li class="nav-item">
                <a class="nav-link active btn btn-primary" href="https://www.github.com/r-dehghani">Source Code </a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link btn btn-warning" href="https://www.t.me/darush89">Telegram Private Group</a>
                {% else %}
                <a class="nav-link btn btn-warning">Telegram Private Group(Only Registered Students)</a>
                {% endif %}
            </li>

            <li class="nav-item">
                {% if course.course_name in qs_1.list_of_registered_courses %}
                <a class="nav-link btn btn-danger  " href="http://www.yakhdoon.ir">you registered for this course! </a>
                {% else %}
                <a class="nav-link btn btn-danger  " href="#">Register Now! </a>
                {%endif%}
            </li>
        </ul>


    </div>



    {% endblock course %}